@model UpdateOdd


@{
    ViewData["Title"] = "Create Odd - Back Office";
}


<div class="container">

    <div class="text-center">
        <h2 class="display-4">Update @Model.HomeTeam Vs @Model.AwayTeam Odds</h2>
    </div>

    <div class="col-md-12">
        @Html.ValidationSummary()
        <input asp-for="Id" type="hidden" >
        <div class="portlet box blue">
            <div class="portlet-body form">
                <form method="post" asp-action="odd_update" asp-controller="admin" role="form" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label" for="form_control_1">Home Wining Odd</label>
                            <div class="col-md-9">
                                <input asp-for="HomeOdd" type="text" class="form-control" id="form_control_1">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label" for="form_control_1">Draw Odd</label>
                            <div class="col-md-9">
                                <input asp-for="DrawOdd" type="text" class="form-control" id="form_control_1">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label" for="form_control_1">Away Wining Odd</label>
                            <div class="col-md-9">
                                <input asp-for="AwayOdd" type="text" class="form-control" id="form_control_1">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


