@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Real Time Odds</h1>

        

        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Home VS Away</th>
                        <th>1</th>
                        <th>X</th>
                        <th>2</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="dataModel"></tr>
                </tbody>

            </table>
        </div>


    </div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
<script src="~/js/odd_publisher.js"></script>